<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     Auth
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div>
    <ion-button class="fb" (click)="loginwithfb()">
      <div>
        
        <ion-icon name="logo-facebook" class="icon"></ion-icon>
      </div>
      <label>Sign Up with Facebook</label>
    </ion-button>
  </div>
 
<ion-button class="google" (click) = "loginWithGoogle()" >
  <div>
    <ion-icon name="logo-google" class="icon"></ion-icon>
  </div>
  
  <label>Sign Up with Google</label>
 </ion-button> 


 <ion-button (click)="login()">GooglePlus</ion-button>
</ion-content>
